*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 10vh;
    position: relative;
}

.header{
    margin: 0 auto;
    display: inline;
    margin-bottom: 250px;
    display: flex;  
    justify-items: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 85px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px black;
}

img#principal{
    width: 40px;
    background: black;
}

h4{
    margin: 0 auto;
    color: aliceblue;
    padding-right: 5px 5px;
}

.body{
    text-align: center;
    margin-top: 100px auto;
}

.body img{
    width: 100%;
}

.title{
    font-size: 35px;
    font-style: initial;
    font-family: 'Open Sans', sans-serif;
    padding: auto;
    margin: auto;
}
